body{
	background: black;
}
.month-diagram{
	margin-right: 0;
	height: 400px;
}
.image_button{
	width: 70%;
}


.image_block:hover{
	background-color: #ffffff61;
}

.cur_month{
	color: white;
}